body {
  background-color: pink;
}
.linkshub {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.linkshub-profile {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.linkshub-container {
  background-color: #fff;
  width: 600px;
  display: flex;
  flex-direction: column;
}
.linkshub-profile--image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.linkshub-links {
  display: flex;
  flex-direction: column;
}
.linkshub-links--button {
  margin: 20px 0;
}