@font-face {
  font-family: "MinhaFonte";
  src: url(./assets/Voguella.ttf);
}
body {
  background-image: url(./assets/bg.jpg);
  background-repeat: round;
  height: 100vh;
  font-family: "MinhaFonte";
}
.linkshub {
  display: flex;
  justify-content: center;
}
.linkshub-profile {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.linkshub-container {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.linkshub-profile--image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.linkshub-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linkshub-links--button {
  margin: 20px 0;
  background-color: #d73864;
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  border-color: #fff;
  cursor: pointer;
}
.linkshub-links--button:hover {
  opacity: 0.7;
}
